

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Uma p&aacute;gina para anota&ccedil;&atilde;o de v&iacute;deo.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title></title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" rel="stylesheet" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
</script>
<style type="text/css">.modal {
  display: none;
  font-size:30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.75);
}
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

table {
  border: 1px #c0c0c0 solid;
  width: 100%;
}
table th {
  background-color: #00f;
  color: #fff;
}
table td {
  color: #0c0c0c;
}

</style>
<div style='background:#3F51B5;'>
<center>
  <table>
    <tbody>

          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt" onclick="aggregate()" style="display:block;height:33px;width: 300px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">Proceed Aggregation</a>
<br>
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt" onclick="updateConvergence()" style="display:block;height:33px;width: 300px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">Continue Collecting</a>


    </tbody>
  </table>
</center>
</div>

<div id="container"></div>

  </div>


</div>

</div>
<script>

	var list_points;
	var segments;
	var contributions;
	var groups;

//    	$.getJSON('http://marcellonovaes.com/segments', function(data){loadContributions(data);});

    	$.getJSON('http://marcellonovaes.com/contributions', function(data){init(data);});

//	function loadContributions(s){
//		segments = s;
//    		$.getJSON('http://marcellonovaes.com/contributions', function(data){init(data);});
//	}

	function init(c){

		c.sort(function(a,b){
			if(a.content_type < b.content_type) return -1; return 1;
		});

		c.sort(function(a,b){
			if(a.instant < b.instant) return -1; return 1;
		});

		var points = new Array();
		var cur_instant = 'x';
		var cur_index = -1;
		var c2 = -1;
		var cur_item = "x";

		for(var i=0; i<c.length; i++){


			if(cur_instant != c[i].instant){
				cur_index++;
				c2 = -1;
				cur_instant = c[i].instant;
				points[cur_index] = new Array();
			}
	
			
			if(cur_item != c[i].item_id){

				c2++;
				 points[cur_index][c2] = new Array();
				cur_item = c[i].item_id;
			}

			if(points[cur_index][c2]){
				points[cur_index][c2].push(c[i]);
			}



		}


		createTable(points)
	}

	function createTable(list){




		list_points = new Array();// list;

var container = document.getElementById("container");
table= [
  '<table>',
  '<thead>',
  '<tr>',
  '<th>Done</th>',
  '<th>Contributions</th>',
  '<th>Point</th>',
  '<th>Convergence</th>',
  '</tr>',
  '</thead>',
  '<tbody>'
];



for(var i=0; i<list.length; i++){

	var point = list[i];


	var mode = 0;
	var total = point[0].length;
	for(var j=1; j<point.length; j++){
		total += point[j].length;
		if(point[j].length > point[mode].length){
			mode = j;
		}
	}


	list_points.push(point[mode][0]);

var cv = point[mode].length / total;
var color = '#00C060';
var checked = 'checked';
if(cv < 0.75) color = '#00FA9A';
if(cv < 0.6){
        color = '#FFD700';
        checked = null;
}
if(cv < 0.5) color = '#F4A460';
if(cv <= 0.4) color = '#CD5C5C';
table.push(
  '<tr bgcolor="'+color+'">',
  '<td align="center"><input type="checkbox" name="ck" '+checked+'  ></td>',
  '<td align="center"><b>'+total+'</b></td>',
  '<td><b>'+point[mode][0].point+'</b></td>',
  '<td><b>'+parseInt(100*cv)+'%'+'</b></td>',
  '</tr>'
);

/*
table.push(
  '<tr>',
  '<td align="center"><input type="checkbox" name="ck" checked  ></td>',
  '<td align="center">'+total+'</td>',
  '<td>'+point[mode][0].point+'</td>',
  '<td>'+parseInt(100 * point[mode].length / total)+'%</td>',
  '</tr>'
);
*/
}

table.push(
  '</tbody>',
  '</table>'
);

container.innerHTML = table.join("\n");

	}


	function updateConvergence(){
		var convergeds = new Array();
		var dones = document.getElementsByName("ck");
		for(var i=0; i<dones.length; i++){
			if(dones[i].checked){
					delete list_points[i].fingerprint;
					delete list_points[i].job_id;
					delete list_points[i].candidates;
					delete list_points[i].contributions;
					delete list_points[i]._id;
					list_points[i].convergence = '1';	
					convergeds.push(list_points[i]);
			}
		}
	      $.ajax({
	        	type: 'POST',
      	 	 	url: 'http://marcellonovaes.com/updateConvergence',
        		data: {'points':convergeds},
	        	success: function(result, status, request) {done(result);}
      		});
	}



        function aggregate(){
		var convergeds = new Array();
		var dones = document.getElementsByName("ck");
		for(var i=0; i<dones.length; i++){
			if(dones[i].checked){
					delete list_points[i].fingerprint;
					delete list_points[i].job_id;
					delete list_points[i].candidates;
					delete list_points[i].contributions;
					delete list_points[i]._id;
					list_points[i].convergence = '0';
					switch(list_points[i].content_type){
                                        	case 'youtube':
                                                        var content = list_points[i].content.split('https://www.youtube.com/watch?v=');
                                                        list_points[i].image ='http://i1.ytimg.com/vi/'+content[1]+'/hqdefault.jpg';
                                                        break;

                                        	case 'wikipedia':
                                                        list_points[i].image = 'http://marcellonovaes.com/wiki_image?url='+list_points[i].content;
                                                        break;

					}
					convergeds.push(list_points[i]);
			}
		}
	      $.ajax({
	        	type: 'POST',
      	 	 	url: 'http://marcellonovaes.com/aggregate',
        		data: {'points':convergeds},
	        	success: function(result, status, request) {done(result);}
      		});
	}




	function done(result){
		alert('Success');
	}

 
</script>



