

<!DOCTYPE html>

<html lang="pt-br">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Uma página para anotação de vídeo.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>CrowdNote</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
<link rel="stylesheet"  href='include?name=client.min&mime=css' >
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src='https://novaes.tech/include?name=client.min&mime=js'></script>
</head>


<body align='center' ondrop="drop(event)" ondragover="allowDrop(event)">
    <header class="mdl-layout__header" style="height:200px;">
      <div class="mdl-layout__header-row"  >
        <span class="mdl-layout-title" style='text-align:left;font-size:16px;position: fixed;margin-top:70px; margin-left:10px;'> 



<p style="font-size:16px">Place this item in the best place of the video.</p>



<div draggable='true' ondragstart="drag(event)" style="position: absolute;top:10px;left:550px;padding:6px;word-wrap: break-word;box-shadow: 0px 0px 81px 0px rgba(0,0,0,0.05);-moz-box-shadow:  0px 0px 81px 0px rgba(0,0,0,0.05);-webkit-box-shadow: 0px 0px 81px 0px rgba(0,0,0,0.05);background-image: linear-gradient(45deg, transparent, blue);border-radius: 50px/50px;opacity:1;font-size:22px;text-align:center;vertical-align: middle; color: rgb(255,255,255);font-style: italic;" id="tx_point"></div>


<p style="font-size:16px">1. Drag the item by the video and put it in the best position.</p>
<p style="font-size:16px">2. When you have decided on the best position, click the 'SUBMIT' button.</p>

<p align=center>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id='bt'    onClick="sendContribution()" style='width: 200px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);'>SUBMIT</button>
</p>




	</span>

      </div>
    </header>
 
<div style='padding: 10px;'>

	  <div id="player" style='pointer-events: none;visible;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);'></div>
	  
		
	</div>


<input type='hidden' id='done' name='done' >

</div>


<script>

var x = 550;
var y = 0;
var input;
var player;
var delta;
var duration;
var content_type;
var tx_point;
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var image = null;

function allowDrop(ev) {
    event.dataTransfer.effectAllowed  = "all";
    event.dataTransfer.dropEffect     = "copy";
   ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    x = ev.clientX - parseInt(tx_point.style.width);
    y = ev.clientY;
    tx_point.style.left = x+'px';
    tx_point.style.top = y+'px';
}



function readURL(input,output) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            	output.attr('src', e.target.result);
		image = e.target.result;
        }

        reader.readAsDataURL(input.files[0]);
    }
}


function getOption(op){
	var contribPanel = document.getElementById('contribPanel');
	var contrib = document.getElementById('contrib');
			
	var lbImage =  document.getElementById('lbImage');
	if(lbImage)lbImage.remove();

	$('#Image').attr("height","0");

	contrib.remove();

	switch(op){
		case 1:
			content_type = 'text';

			contrib = document.createElement("textarea");
			contrib.setAttribute("name","contrib");
			contrib.setAttribute("id","contrib");
 			contrib.setAttribute("placeholder","Write an explanatory text here.");
			contrib.style.height = '75px';
			break; 

		case 2:
			content_type = 'image';

		/*	lbImage = document.createElement("label");
			lbImage.setAttribute("id","lbImage");
			lbImage.setAttribute("for","contrib");
			lbImage.innerHTML = "Choose Image";
			contribPanel.appendChild(lbImage);
*/

			contrib = document.createElement("input");
			contrib.setAttribute("name","contrib");
			contrib.setAttribute("id","contrib");
			contrib.setAttribute("type","file");
			contrib.setAttribute("class","contrib");
			contrib.setAttribute("accept","image/*");
			contrib.style.height = '84px';
			
			contrib.addEventListener('change', function(){
				$('#Image').attr("height","300");		

				var str = this.value;
				readURL(this,$('#Image'));
				if(str) lbImage.innerHTML = 'Change Image';
			});
			break; 

		case 3:
			content_type = 'youtube';

			contrib = document.createElement("textarea");
			contrib.setAttribute("name","contrib");
			contrib.setAttribute("id","contrib");
 			contrib.setAttribute("placeholder","Paste a link to a Youtube video here.\nEx:\nhttps://www.youtube.com/watch?v=...");
			contrib.style.height = '75px';
			break; 

		case 4:
			content_type = 'wikipedia';

			contrib = document.createElement("textarea");
			contrib.setAttribute("name","contrib");
			contrib.setAttribute("id","contrib");
 			contrib.setAttribute("placeholder","Paste a link to a Wikipedia page here.\nEx:\nhttps://pt.wikipedia.org/wiki/...");
			contrib.style.height = '75px';
			break; 

	}

	contrib.style.width = document.getElementById("bt").style.width;
	contribPanel.appendChild(contrib);
}


function onYouTubeIframeAPIReady() {
  $.getJSON('https://novaes.tech/job', function(data){init(data);});
/*  init({
    "_id": "59a59b2070092a3e7fbcea38",
    "start": "28",
    "end": "40",
    "uri": "UTg6fdKi9TI",
    "job_id": "UTg6fdKi9TI",
    "fingerprint": "UTg6fdKi9TI",
    "instant": "28.789830000000002",
    "point": "Caô",
    "item_index": 0
});*/

}

function init(data){
  input = data;
  tx_point = document.getElementById("tx_point");

  if(input.content_type == 'image'){
  	tx_point.innerHTML = "<img width=200 height=100  src='"+input.content+"'>";
  }else{
  	tx_point.innerHTML = input.point;
  }
  var tx_size = 200;//input.point.length * 18;
  //if(tx_size > 150) tx_size=150;
  tx_point.style.width = tx_size+'px';

    tx_point.style.left = x+'px';
    tx_point.style.top = y+'px';

  player = new YT.Player(
    'player',
    {
      playerVars: {rel: 0},
      autoplay : 0,
      controls: 0,
      height: '360',
      width: '640',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    }
  );

}

function onPlayerReady(event) {
    	duration = 0;
        player.loadVideoById(input.uri, parseFloat(input.instant) -1);
}

function onPlayerStateChange(event) {
  if (event.data == YT.PlayerState.PLAYING) {
    setTimeout(restartVideoSection, duration * 1000);
  }
}

function restartVideoSection() {
  	player.seekTo(parseFloat(input.instant));
	player.pauseVideo();
}


	
function sendContribution(){
	if(x != '' && y != ''){

		var queryForm = "<form method='post' action='https://novaes.tech/store'>";
		queryForm += "<input type='hidden' id='uri' name='uri'  value='"+input.uri+"' > ";
                queryForm += "<input type='hidden' id='item_id' name='item_id'  value='"+input._id+"' > ";
		queryForm += "<input type='hidden' id='start' name='start'  value='"+input.start+"' > ";
		queryForm += "<input type='hidden' id='end' name='end'  value='"+input.end+"' > ";
		queryForm += "<input type='hidden' id='fingerprint' name='fingerprint'  value='"+input.fingerprint+"' > ";
		queryForm += "<input type='hidden' id='job_id' name='job_id'  value='"+input.job_id+"' > ";
		queryForm += "<input type='hidden' id='item_index' name='item_index'  value='"+input.item_index+"' > ";
		queryForm += "<input type='hidden' id='instant' name='instant'  value='"+input.instant+"' > ";
		queryForm += "<input type='hidden' id='point' name='point'  value='"+input.point+"' > ";
		queryForm += "<input type='hidden' id='x' name='x'  value='"+x+"' > ";
		queryForm += "<input type='hidden' id='y' name='y'  value='"+y+"' > ";
	
		queryForm += "<input type='hidden' id='content_type' name='content_type'  value='"+input.content_type+"' > ";

		queryForm += "<input type='hidden' id='content' name='content'  value='"+input.content+"' > ";
		


		queryForm += "</form>";

		

		$.ajax({
			type: 'POST',
			url: $(queryForm).attr('action'),
			data: $(queryForm).serialize(), 
			success: function(result, status, request) {done();}
		});
	}else{
                alert("You forgot to suggest some content.\nYour contribution is important to us!!!");
	}
}

function done(){
	var done = document.getElementById("done");
	var bt = document.getElementById("bt");
	bt.style='visibility: hidden;';
	done.value='ok';
	player.stopVideo();
	$(location).attr('href', 'thanks');
}	



</script>





