

<!DOCTYPE html>

<html lang="pt-br">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Uma página para anotação de vídeo.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>CrowdNote</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
<link rel="stylesheet"  href='include?name=client.min&mime=css' >
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src='https://novaes.tech/include?name=client.min&mime=js'></script>



<style>
.modal {
    display: none;
    font-size:30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.75); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

</style>





</head>


<body align='center'>
    <header class="mdl-layout__header" style="height:200px;">
      <div class="mdl-layout__header-row"  >
        <span class="mdl-layout-title" style='text-align:left;font-size:16px;position: fixed;margin-top:70px; margin-left:10px;'> 

<center>
<table>
<td width='500' >
<p style="font-size:16px">This is a multimedia interactive player:</p>
<p style="font-size:16px">1. You can use the "PREVIOUS" and "NEXT" buttons to navigate through the different points of interest.</p>
<p style="font-size:16px">2. You can use the 'ZOOM' button to better visualize each content.</p>
</td>

<td width='600' align='center'>
<p style="font-size:22px;text-align:center;background:white;vertical-align: middle; color: rgb(68,138,255);font-style: italic;border-style:solid;height:50px;line-height:50px;width:300px;" id="tx_point"></p>
</p>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id='bt_previous'    onClick="navigate(-1)" style='font-size:12px;height:30px;width: 100px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);'>previous</button>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id='bt_zoom'    onClick='displayContent(cur,true)' style='font-size:12px;height:30px;width: 100px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);'>zoom</button>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id='bt_next'    onClick="navigate(1)" style='font-size:12px;height:30px;width: 100px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);'>next</button>
</td>

</table>
</center>

<div  onClick='displayContent(cur,true)'  style="position: absolute;top:10px;left:550px;padding:6px;word-wrap: break-word;box-shadow: 0px 0px 81px 0px rgba(0,0,0,0.05);-moz-box-shadow:  0px 0px 81px 0px rgba(0,0,0,0.05);-webkit-box-shadow: 0px 0px 81px 0px rgba(0,0,0,0.05);background-image: linear-gradient(45deg, transparent, blue);border-radius: 50px/50px;opacity:1;font-size:22px;text-align:center;vertical-align: middle; color: rgb(255,255,255);font-style: italic;" id="tx_content"></div>


	</span>

      </div>
    </header>
 
<div style='padding: 10px;'>

	  <div id="player" style='visible;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);'></div>
	  
		
	</div>


<input type='hidden' id='done' name='done' >

</div>

<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
  </div>
</div>

<script>

var item = null;
var max = 0;
var cur = -1;
var iniX = 0;
var iniY = 0;
var x = 550;
var y = 0;
var input;
var contents;
var player;
var uri;
var delta;
var duration;
var content_type;
var tx_point;
var tx_content;
var end;
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var image = null;

modal.onclick = function() {
        modal.style.display = "none";
                displayContent(cur,false);
}

window.onclick = function(event) {

    if (event.target == modal) {
        modal.style.display = "none";
                displayContent(cur,false);
    }

}

function displayContent(idx,zoom){
        var height = 250;

        content_type = input[idx].content_type;
        content = input[idx].content;
        point = input[idx].point;

        if(zoom){
		player.pauseVideo();
                height = 500;
        }else{
                player.playVideo();
	}

        switch(content_type){
                case 'text':
                        content = point+":<br><br><i>"+content+"</i>";
                        break;
                case 'image':
                        content = point+"<br><br><img src="+content+" style='height:"+height+"px; max-width:407px;'>";
                        break;
                        
                case 'youtube':
                        content = content.split('=');
                        content = content[1]; 
                        content = '<iframe style="height: '+height+'px;" src="https://www.youtube.com/embed/'+content+'" ></iframe>';
                        break;


                case 'wikipedia':
                        var parts = content.split('wikipedia.org');
                        var pre = parts[0];
                        var post = parts[1];

                        pre = pre.split('.');
                        var url = pre[0];
                        url += '.m.wikipedia.org';

                        url += post;

                        content = '<iframe src="'+url+'" style="height:'+height+'px;width:407; -moz-transform:scale(0.15, 0.15)"  seamless scrolling="yes"></iframe>';
                        break;
        }

        if(zoom){
                modal.innerHTML = content;
                modal.style.display = "block";
        }else{
                content_view.innerHTML = content;
        }
}

function readURL(input,output) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            	output.attr('src', e.target.result);
		image = e.target.result;
        }

        reader.readAsDataURL(input.files[0]);
    }
}

function onYouTubeIframeAPIReady() {
  $.getJSON('https://novaes.tech/player', function(data){init(data);});
}

function init(data){
  input = data;
  max = input.length;
  end = input[input.length-1].end;

  contents = new Array();
  for(var i=0; i < end; i++){
	contents.push(-1);
  }

  for(var i=0; i < max; i++){
	var t = Math.floor(input[i].instant);
	contents[t] = i;
	contents[t+1] = i;
  }

  tx_point = document.getElementById("tx_point");
  tx_content = document.getElementById("tx_content");
  tx_content.style.display = 'none';
  uri = input[0].uri;
  player = new YT.Player(
    'player',
    {
      playerVars: {rel: 0, controls: 2, disablekb: 0},
      autoplay : 0,
      height: '360',
      width: '640',
      events: {
        'onReady': onPlayerReady
      }
    }
  );
}

function onPlayerReady(event) {
        player.loadVideoById(uri);
	setInterval(function() {
		displayPoint();
	}, 1000);
}

function navigate(step){
	player.pauseVideo();
	if(cur+step < max && cur+step >= 0){
		cur += step;
	}
  	player.seekTo(parseFloat(input[cur].instant));
	displayPoint(cur);
}

function displayPoint(){
  var t = Math.floor(player.getCurrentTime()); 
  var idx = contents[t];
  if(idx == -1){
	tx_content.style.display = 'none';
	tx_content.innerHTML = '';
	tx_point.innerHTML = '';
	return;
  }
  var item = input[idx];
  cur = idx;
  tx_content.style.display = 'block';
  tx_point.innerHTML = item.point;
  switch(item.content_type){
        case 'image' :
                tx_content.innerHTML = "<img src='https://novaes.tech/images?name=ico_zoom&mime=png' width=40 height=40><img width=200 height=100  src='"+item.content+"'>";
                break;
        case 'wikipedia' :   
                tx_content.innerHTML = "<img src='https://novaes.tech/images?name=wikipedia&mime=jpg' width=40 height=40>"+item.point;
                break;
        case 'youtube' :   
                tx_content.innerHTML = "<img src='https://novaes.tech/images?name=youtube&mime=ico' width=40 height=40>"+item.point;
                break;
        case 'text' :   
                tx_content.innerHTML = "<img src='https://novaes.tech/images?name=ico_zoom&mime=png' width=40 height=40>"+item.content;
                break;
        default:
                tx_content.innerHTML = item.point;
  }
  tx_content.style.left = item.x;
  tx_content.style.top = item.y;
}

</script>





