<center><h1>Thank You!!!</h1></center>
<center><h1>Now you can click here to <a onclick='goBack()' style='color:blue;' ><u>Go BACK</u></a></h1><center>
<center><h1>and hit the FINISH button to complete your task.</h1></center>

<script>
function goBack() {
    window.history.back();
}
</script>
<input type='hidden' id='option' name='option' value='ok'>
<input type='hidden' id='type' name='type' value='ok'>



