

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Uma p&aacute;gina para anota&ccedil;&atilde;o de v&iacute;deo.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" rel="stylesheet" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="https://novaes.tech/include?name=client.min&amp;mime=js">
</script>
<style type="text/css">.modal {
  display: none;
  font-size:30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.75);
}
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

#circle {
	float:left;
	width: 40px;
	height: 40px;
	background: blue;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}


#retangle-space {
        float:left;
        height: 40px;
        width:  1px;
        background: light-grey;
}

#retangle-mark {
        float:left;
        height: 40px;
        width:  1px;
        background: orange;
}

</style>
<div style='background:#3F51B5;'>
<center>
  <table>
    <tbody>
      <tr>
        <td id="instructions" style="display:none;max-width:500px;padding:10px;">
          <p style="font-size:18px;color:white;">1. Identify in the video something that you found interesting.
          </p>
          <p style="font-size:18px;color:white;">2. Pause the video the moment it appears.
          </p>
          <p style="font-size:18px;color:white;">3. Use the buttons [-0.1s] and [+0.1s] to locate the instant.
          </p>
          <p style="font-size:18px;color:white;">4. Select its type: Person, Technology or Theory.
          </p>
          <p style="font-size:18px;color:white;">5. Write what you have identified.
          </p>
          <p style="font-size:18px;color:white;">6. Click the SEND button.
          </p>
        </td>
        <td>
          <p align="center"><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt" onclick="sendContribution()" style="width: 200px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">Send</a> 
          </p>
          <p align="center"><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt_add" onclick="addMark()" style="width: 200px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">Add Mark</a> 
          </p>
          <p align="center"><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt_add" onclick="delMark()" style="width: 200px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">Del Mark</a> 
          </p>
          <p align="center">
            <select autofocus="" class="mdl-textfield__input" id="list_marks" name="list_marks" onchange="syncMark()" style="margin-top:10px;margin-left:0px;background-color:#3368E6;font-size:18px;color:white;" type="select">
            </select>
          </p>
          <p align="center"><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt_instr" onclick="showInstructions()" style="width: 130px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">Instructions</a> <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt" onclick="tiltTime(-0.1)" style="width: 60px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">- 0.1s</a> <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt" onclick="tiltTime(0.1)" style="width: 60px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">+ 0.1s</a> 
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</center>
</div>
<div style="padding: 10px;">
  <div id="player" style="box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);"> 
</div>
<div class="w3-light-grey"> 
 <div id="timeline" class='w3-red' style="height:30px; box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);"></div>
</div>
<div id='mark_bar' >
</div>
</div>
<input id="done" name="done" type="hidden" />
<div class="modal" id="modal">
  <div class="modal-content"><span class="close">X</span>
  </div>
</div>
<script>
  var video_width = 640;
  var mark_bar;
  var timeline;
  var marks = new Array();
  var list_marks;
  var input;
  var player;
  var duration;
  var instructions;
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  modal.onclick = function() {
    modal.innerHTML = '';
    modal.style.display = "none";
    displayContent(cur,false);
  }
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.innerHTML = '';
      modal.style.display = "none";
      displayContent(cur,false);
    }
  }
  function tiltTime(delta){
    player.pauseVideo();
    player.seekTo(player.getCurrentTime() + delta);
  }
  function showInstructions(){
    modal.innerHTML ='<div style="margin-top:0px; margin-left:50px;"><p style="text-align:left;font-size:20px">1. Identify in the video something that you found interesting.<p style="text-align:left;font-size:20px">2. Pause the video the moment it appears.<p style="text-align:left;font-size:20px">3. Use the buttons [-0.1s] and [+0.1s] to locate the instant.<p style="text-align:left;font-size:20px">4. Select its type: Person, Technology or Event.<p style="text-align:left;font-size:20px">5. Write what you have identified.<p style="text-align:left;font-size:20px">6. Click the SEND button.';
    modal.style.display = "block";
  }
  function onYouTubeIframeAPIReady() {
    $.getJSON('https://novaes.tech/job', function(data){init(data);});
  }
  function init(data){
    list_marks = document.getElementById("list_marks");
    mark_bar = document.getElementById("mark_bar");
    timeline = document.getElementById("timeline");

    instructions = document.getElementById("instructions");
    if(window.innerWidth >= 866){
      instructions.style.display = 'block';
    }
    input = data;
    player = new YT.Player(
      'player',
      {
        playerVars: {cc_lang_pref:'en', cc_load_policy: 0, autoplay:0 ,rel: 0, controls: 2, disablekb: 1},
        height: '360',
        width: '640',
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      }
    );
  }
  function onPlayerReady(event) {
    duration = (input.end - input.start) + 0.5;
    player.loadVideoById(input.uri, parseFloat(input.start));
   
  setInterval(function() {syncTimeline();}, 10);
 } 

  function syncTimeline(){
	var progress = 100 * player.getCurrentTime() / input.end;
	timeline.style.width =	progress + '%';
  }

  function onPlayerStateChange(event) {
    if(player.getCurrentTime() > input.end || player.getCurrentTime() < input.start){
      player.seekTo(parseFloat(input.start));
      player.pauseVideo();
    }else{
      if (event.data == YT.PlayerState.PLAYING) {
        setTimeout(restartVideoSection, duration * 1000);
      }
    }
  }
  function restartVideoSection() {
    if(player.getCurrentTime() > input.end){
      player.seekTo(parseFloat(input.start));
      player.pauseVideo();
    }
  }
  function delMark(){

	var r = confirm('Are you sure that want remove this mark?');
	if(r == true){
		var mark = list_marks.selectedIndex;
		list_marks.selectedIndex = mark - 1;
		list_marks.remove(mark);
	}
  }
  function addMark(){
	var instant = player.getCurrentTime();
	var Op = document.createElement("OPTION");
	Op.text = instant;
	Op.value = instant;
	list_marks.options[list_marks.options.length] = Op;
	list_marks.selectedIndex = list_marks.options.length -1;

	var w = parseFloat($("#player").css("width"));
	var t = player.getCurrentTime();
	var e = input.end;
	var position = 10 + ( w * t / e);
    
   var mark = document.createElement("DIV");
	mark.style = 'float:left;left:'+position+'px; position:absolute; background:blue; width:10px; height:40px;';
	mark_bar.append(mark);


  }
  function syncMark(){
	player.seekTo(list_marks.value);
        player.pauseVideo();
  }
  function sendContribution(){

var r = confirm('Are you done?');
if(r == true){
    if(list_marks.options.length > 1){


	for(var i=0; i<list_marks.options.length; i++){
		marks.push(list_marks.options[i].value);
	}

      var queryForm = "<form method='post' action='https://novaes.tech/store'>";
      queryForm += "<input type='hidden' id='uri' name='uri'  value='"+input.uri+"' > ";
      queryForm += "<input type='hidden' id='item_id' name='item_id'  value='"+input._id+"' > ";
      queryForm += "<input type='hidden' id='start' name='start'  value='"+input.start+"' > ";
      queryForm += "<input type='hidden' id='end' name='end'  value='"+input.end+"' > ";
      queryForm += "<input type='hidden' id='fingerprint' name='fingerprint'  value='"+input.fingerprint+"' > ";
      queryForm += "<input type='hidden' id='job_id' name='job_id'  value='"+input.job_id+"' > ";
       queryForm += "<input type='hidden' id='item_index' name='item_index'  value='"+input.item_index+"' > ";  
     queryForm += "<input type='hidden' id='marks' name='marks'  value='"+marks+"' > ";
      queryForm += "";

      $.ajax({
        type: 'POST',
        url: $(queryForm).attr('action'),
        data: $(queryForm).serialize(), 
        success: function(result, status, request) {done();}
      });

    }else{
      alert("You forgot to identified the markers.\nYour contribution is important to us!!!");
    }
}
  }
  function done(){
    var done = document.getElementById("done");
    var bt = document.getElementById("bt");
    bt.style='visibility: hidden;';
    done.value='ok';
    player.stopVideo();
    alert("Thanks, now you can click the FINISH button.");
    //$(location).attr('href', 'https://novaes.tech/thanks');
  }       
</script>



