

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Uma p&aacute;gina para anota&ccedil;&atilde;o de v&iacute;deo.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title></title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" rel="stylesheet" />
<script defer src="https://code.getmdl.io/1.3.0/material.min.js">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
</script>
<style type="text/css">.modal {
  display: none;
  font-size:30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.75);
}
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
</style>
<div style='background:#3F51B5;'>
<center>
  <table>
    <tbody>

          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt_load_video" onclick="loadVideo()" style="display:block;height:33px;width: 150px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">Load Video</a>

	

    </tbody>
  </table>
</center>
</div>
<div style="padding: 10px;">
  </div>


</div>

</div>
<script>


	var segments;
	var contributions;
	var groups;

    	$.getJSON('https://novaes.tech/segments', function(data){loadContributions(data);});


	function loadContributions(s){
		segments = s;
    		$.getJSON('https://novaes.tech/contributions', function(data){init(data);});
	}


  	function init(c){


		contributions = c;
		groups = new Array();
		for(var i=0; i<segments.length; i++){
			groups[i] = {'segment':segments[i],'contributions':new Array(),'candidates':new Array(), 'points':new Array()};
		}
		for(var i=0; i<contributions.length; i++){
				addContribution(groups, contributions[i]);
		}

		for(var g=0; g<groups.length; g++){

			var delta = 0;
			for(var i=0; i<groups[g].contributions.length - 1; i++){
				delta += Math.abs(parseInt(groups[g].contributions[i+1].instant) - parseInt(groups[g].contributions[i].instant)) ;
			}
			if(delta > 0)
				delta /= groups[g].contributions.length - 1;
			var cur = new Array();

			if(groups[g].contributions.length == 0) continue;

			var instant = parseFloat(groups[g].contributions[0].instant);
			for(var i=0; i< groups[g].contributions.length; i++){
				if( parseFloat(groups[g].contributions[i].instant) -  instant < 4*delta ){
					cur.push(groups[g].contributions[i]);
				}else{
					if(cur.length>0)
						groups[g].candidates.push(cur);
					instant = parseFloat(groups[g].contributions[i].instant);
					cur = new Array();
					cur.push(groups[g].contributions[i]);
				}	
			}
			if(cur.length>0)
				groups[g].candidates.push(cur);
		}
	

		for(var i=0; i<groups.length; i++){
			console.log(i);
			for(var j=0; j<groups[i].candidates.length; j++){
				console.log(j);
				if(groups[i].candidates[j].length < 2) continue;
					for(var k=0; k<groups[i].candidates[j].length; k++){
						console.log(groups[i].candidates[j][k].point,groups[i].candidates[j][k].instant);
					}
			}

		}
	


	}


	function addContribution(groups, c){
		var i;
		for(i=0; i<groups.length; i++){
			if(parseInt(groups[i].segment.start) == parseInt(c.start)){
				groups[i].contributions.push(c);
				break;
			}
		}
	}

 
</script>



