

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Uma p&aacute;gina para anota&ccedil;&atilde;o de v&iacute;deo.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script defer src="https://code.getmdl.io/1.3.0/material.min.js">
</script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</script>
<script src="https://crowdnoter.app/include?name=client.min&amp;mime=js">
</script>

<style type="text/css">
.modal {
  display: none;
  font-size:30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.75);
}
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

#circle {
  float:left;
  width: 40px;
  height: 40px;
  background: blue;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}


#retangle-space {
        float:left;
        height: 40px;
        width:  1px;
        background: light-grey;
}

#retangle-mark {
        float:left;
        height: 40px;
        width:  1px;
        background: orange;
}


.ui-draggable, .ui-droppable {
  background-position: top;
}

.ui-widget-header{background-image:none;background-color: orange;}
.ui-widget-content { background: light-grey; }


$bg: #332f35;
$fg: lighten($bg,20%);
$borderWidth: 3px;

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: lighten($bg,40%);
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

input[type=radio]:checked + label{
  color: lighten($bg,60%);
  background: $fg;
}

label + input[type=radio] + label {
  border-left: solid $borderWidth $fg;
}
.radio-group {
  border: solid $borderWidth $fg;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}


</style>
<div style='background:#3F51B5;'>
<center>


<!--p id="presentation" style="max-width:960px;font-size:16px;color:white;text-align: justify;">
This video shows an actor expressing himself in Brazilian sign language. Even if you do not know this language, identify the initial moment of the gestures.
</p-->


  <table>
    <tbody>
      <tr>

        <td id="instructions" style="display:block;max-width:700px;padding:10px;">
            <p style="font-size:18px;color:white;">1. Identifique o instante inicial de um sinal.
              <br />
              <i>(use os botões - e + para ajustar o inicio)</i>
            </p>
            <p style="font-size:18px;color:white;">2. Arraste o inicio do intervalo para este instante.
            </p>
            <p style="font-size:18px;color:white;">3. Identifique o instante final de um sinal.
              <br />
              <i>(use os botões - e + para ajustar o final)</i>
            </p>
        <td>


        <td id="instructions" style="display:block;max-width:700px;padding:10px;">
            <p style="font-size:18px;color:white;">4. Delimite o sinal com a barra amarela.
            </p>
            <p style="font-size:18px;color:white;">5. Clique no botão ADICIONAR.
            </p>
            <p style="font-size:18px;color:white;">6. Repita os passos 1, 2 e 3.
            </p>
            <p style="font-size:18px;color:white;">7. Clique no botão ENVIAR CONTRIBUIÇÕES.
            </p>
        <td>

<br>
          <p align="center"><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt" onclick="sendContribution()" style="width: 260px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">Enviar Contribuições</a> 
          </p>
          <p align="center">
<!--a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt_instr" onclick="showInstructions()" style="width: 260px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">Instructions</a--> 
</p>


          <p align="center">
<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt_add" onclick="addRange()" style="width: 130px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">Adicionar Sinal</a>
<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt_add" onclick="delRange()" style="width: 130px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">Remover Sinal</a>
          <p align="center">
            <select autofocus="" class="mdl-textfield__input" id="list_marks" name="list_marks" onchange="syncRange()" style="margin-top:10px;margin-left:0px;background-color:#3368E6;font-size:18px;color:white;" type="select">
            </select>
          </p>




<p align='center'>
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt_play_pause" onclick="playPause()" style="width: 130px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">Play</a>
<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt" onclick="tiltTime(-0.1)" style="width: 20px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">- 0.1s</a> 

<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt" onclick="tiltTime(0.1)" style="width: 20px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">+ 0.1s</a> 
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</center>
</div>
<div style="padding: 10px;">
  <div id="player" style="box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);"> 
</div>

<div class="w3-light-grey"> 
  <div id="timeline" class='w3-red' style="height:30px; box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);"></div>
</div>


<div id="slider"></div>

</div>



<input id="done" name="done" type="hidden" />
<div class="modal" id="modal">
  <div class="modal-content"><span class="close">X</span>
  </div>
</div>
<script>
  var data;
  var info;
  var source_id = 'r0';
  var video_width = 640;
  var list_marks;
  var bt_play_pause;
  var timeline;
  var input;
  var player;
  var duration;
  var instructions;

  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  modal.onclick = function() {
    modal.innerHTML = '';
    modal.style.display = "none";
    displayContent(cur,false);
  }
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.innerHTML = '';
      modal.style.display = "none";
      displayContent(cur,false);
    }
  }

  function playPause(){
        if(player.getPlayerState() == 1){
                player.pauseVideo();
    $("#bt_play_pause").text('Play');  
        }else{
                player.playVideo();
    $("#bt_play_pause").text('Pause');  
        }
  }

  function tiltTime(delta){
    player.pauseVideo();
  $("#bt_play_pause").text('Play');  
  player.seekTo(player.getCurrentTime() + delta);
  }
  function showInstructions(){
   
    modal.innerHTML ='<div style="margin-top:0px; margin-left:50px;"><p style="text-align:justified;font-size:20px">Imagine that you are immersed in the environment of the movie.<br>Taking it into account, you are going to point out exact points in time that you think there is a lack of wind or vibration.</p><p style="text-align:left;font-size:20px">1. Find a calm moment.</p><p style="text-align:left;font-size:20px">2. Please pause the video at the beginning of this moment.<br><i>(use - and + buttons to adjust)</i></p><p style="text-align:left;font-size:20px">3. Click on ADD MARK button to add the mark.<br><i>(If you made a mistake, click on DEL MARK to delete it)</i></p><p style="text-align:left;font-size:20px">4. Do the steps 1, 2 and 3 until the end of the movie.</p><p style="text-align:left;font-size:20px">5. Click the SEND CONTRIBUTIONS button.</p>';

 modal.style.display = "block";
  }
  function onYouTubeIframeAPIReady() {
   //   init({uri:'_vbPf-uouqA',start:35, end:37 });
  //$.getJSON('https://novaes.tech/job', function(data){init(data);});
   //   $.getJSON('https://crowdnoter.app/job', function(d){init(d.info,d.data[0]);});
//var d = {"data":[{"_id":"5bb24cf3facbbf5f955d17b9","uri":"6PURz91hDlY","item_id":"5ba52358facbbf5f955d17b5","start":"0.5","end":"14","groundtruth":"1.94,3.25 ,4.36 ,5.65 ,6.34 ,7.47 ,8.47 ,9.26 ,10.36","crowd":"1.9663,3.43675,4.68392,5.75355,6.579289999999999,7.58353,8.640000000000004,9.4,10.4593960252809","ends":"3.066299999999996,4.236749999999997,5.333919999999997,6.203549999999998,7.329289999999997,8.233530000000002,9.140000000000011,10.400000000000015,11.559396025280916","content":"Há muito tempo atrás a humanidade aprendeu a utilizar a força do vento.","segmentation":"5,5,4.9,5,5,5,5,5,4.9","translation":"Intensificador,Tempo,Passado,Coisas,Humanidade,Aprender,Usar,Esforço,Vento","observation":"Voltando MUITO tempo atrás.,,Tempo passado.,,,Aprendeu.,Utilizar.,Ação que gera trabalho.,","starts":"4.8,4,4,4.5,5,4.6,4.5,4.6,5","convergence":"0"}],"info":{"item_index":1,"job_id":"9ed3b616e47b2785a90414ff9356d77b","fingerprint":"7e96ec29b0726713033b4173a3adeed6"}};

//var d = {"data":[{"_id":"5bb24d14facbbf5f955d17ba","uri":"K6Omajhj-pQ","item_id":"5ba52371facbbf5f955d17b6","start":"0.5","end":"15","groundtruth":"2.01,2.71,4.01,5.74,6.82,7.57,8.62,9.74,10.65","crowd":"2.03044,2.72,3.913830671734672,5.76432,6.9661599999999995,7.61204,8.610000000000005,9.590000000000002,10.844270000000003,12.843397164954656","ends":"2.4304399999999986,3.7699999999999965,5.513830671734667,6.614319999999997,7.5161599999999975,8.162040000000001,9.410000000000016,10.390000000000013,12.144270000000022,13.79339716495467","content":"Este esforço contínuo que gera energia se chama energia eólica.","segmentation":"3.9,5,5,5,4.8,4.9,5,5,5","translation":"Este,Esforço,Contínuo,Movimento,Fazer,Energia,Se Chama,Energia,Eólica","observation":"Contextualização.,,Continuidade ou progressão.,,Que faz.,,É conhecido como.,,Sinal específico.","starts":"5,4.9,4.9,5,4.6,4.4,4.5,4.6,4.6","convergence":"0"}],"info":{"item_index":2,"job_id":"b2e49d0c257bdf666d1a6d1aa5225159","fingerprint":"7e96ec29b0726713033b4173a3adeed6"}};

//var d = {"data":[{"_id":"5bb24d59facbbf5f955d17bc","uri":"bWG9alyOBQw","item_id":"5ba523a1facbbf5f955d17b8","start":"0.5","end":"20","groundtruth":"2.35, 2.76 ,3.47 ,4.07 ,4.67 ,5.28 ,5.89 ,6.28 ,6.79 ,7.38 ,8.58 ,9.38 ,9.88  ,11.11 ,12.09 ,13.29 ,13.89 ,14.53 ,15.11 ,15.70 ,16.22","crowd":"2.29237,2.9559257512430195,3.48,3.99,4.66741,Não Identificado pela Crowd,5.80143,6.180000000000001,6.63752,7.53623,9.038515703679668,9.33852,9.88,11.109270000000016,12.15428,13.218883761568048,13.81888,14.50076,Não Identificado pela Crowd,15.690000000000001,16.497180000000007,17.54008,","ends":"2.6923699999999986,3.405925751243018,3.9299999999999984,4.589999999999998,5.117409999999999,5.89,6.151429999999999,6.679999999999999,7.187519999999998,8.386230000000003,10.038515703679682,9.688520000000006,11.01,11.809270000000026,12.954280000000011,13.768883761568055,14.268880000000006,14.900760000000005,15.11,16.040000000000006,16.897180000000013,18.29008000000001,","content":"PHOTODISC/GETTY/IMAGES","segmentation":"5,5,4.9,4.9,4.8,5,5,5,4.9,4.9,4.9,5,5,5,5,4.9,5,5,5,4.9,5,5","translation":"Letra P,Letra H,Letra O,Letra T,Letra O,Letra D,Letra I,Letra S,Letra C,/ barra,Letra G,Letra E,Letra T,Letra Y,/ barra,Letra I,Letra M,Letra A,Letra G,Letra E,Letra S","observation":", ,,,,,,,,,,,A Crowd identificou as duas letras T consecutivas por conta da fluência.,,,,,,,,","starts":"0,2.9,4.9,4.9,4.8,4.9,4.9,4.5,4.8,4.6,4.5,4.3,4.8,5,5,4.6,4.6,4.8,4.6,4.6,4.9,4","convergence":"0"}],"info":{"item_index":0,"job_id":"a467ad9b7c03d65a95636d91e92240a0","fingerprint":"7e96ec29b0726713033b4173a3adeed6"}} ;

var d = {"data":[{"_id":"5bb24d40facbbf5f955d17bb","uri":"L7M26dOa194","item_id":"5ba52388facbbf5f955d17b7","start":"0.5","end":"31","groundtruth":"1.73 ,2.93 ,4.16 ,5.33 ,6.14 ,6.76 ,8.29 ,8.65 ,9.69 ,10.53 ,11.85 ,13.26 ,14.05 ,14.84 ,15.43 ,16.15 ,17.37 ,17.96 ,18.51 ,20.27 ,20.83 ,21.63 ,22.87 ,24.33 ,25.75 ,26.37 ,27.03","crowd":"2.04,3.37628719862434,4.861909999999998,5.51795,6.03,6.7299999999999995,8.23825070645731,8.868956815745635,9.7414,10.730000000000002,12.12223,13.48846,14.200000000000003,14.91841,15.776100000000003,16.27,17.439999999999998,18.080000000000002,18.755730000000003,20.51792,21.12,21.82,23.300950000000004,24.590000000000003,25.88025784311815,26.625931765212236,27.07593,28.68466","ends":"3.2899999999999956,4.076287198624338,5.211909999999997,5.9179499999999985,6.629999999999998,8.179999999999998,8.588250706457314,9.418956815745643,10.44140000000001,11.830000000000018,12.922230000000011,14.23846000000001,14.75000000000001,15.368410000000006,16.026100000000007,17.12000000000001,17.940000000000005,18.430000000000007,19.455730000000013,20.917920000000006,21.570000000000007,22.770000000000014,24.200950000000017,25.340000000000014,26.130257843118155,26.97593176521224,28.125930000000015,29.084660000000007","content":"As pás do moinho são movimentadas pelo vento, como um cata-vento, e essa energia pode ser uzado para moer grãos produzindo farinha.","segmentation":"5,4.8,3,4.8,5,5,4.8,5,5,5,5,3,5,5,2,5,4.8,5,5,5,5,5,5,5,5,3,4.9,5","translation":"Classificador Descritivo,Giro,Vento,Classificador Descritivo,Classificador Descritivo,Giro,Marcação,Usar,Energia,Eólica,Trabalho,Este,Movimento,Classificador Descritivo,Classificador Descritivo,Giro,Tal qual,Classificador Descritivo,Cata-Vento,É possível,Usar,Grão,Moer,Preparar,Letra F,Farinha,Branco","observation":"Representando um Moinho de Vento.,Contextualizado no moinho ilustrado anteriormente.,,Objeto horizontal largo e plano. Pá horizontal do moinho.,Objeto vertical largo e plano. Pá vertical do moinho.,Girando as pás do moinho.,Contextualização.,Utilizar. Isso usa energia.,,Energia do Vento. Sinal específico.,Movimento ou Produção,Contextualização.,Movimento de trabalho.,Objeto horizontal largo e plano. Pá horizontal do moinho.,Objeto vertical largo e plano. Pá vertical do moinho.,Este movimento gira as pás.,Assim como um...,Numeral 1. Haste do catavento.,,,,Cereal ou amendoim.,Moer grãos.,,F de farinha.,Poeira ou terra.,Farinha branca é a farinha de trigo.","starts":"4.5,5,4.6,4.9,4.9,4.9,0,5,4.6,4.4,4.5,4.2,4.7,4.9,5,4.6,5,4.7,0,4.8,4.8,5,0,4.7,4.6,4.9,5,4.8","convergence":"0"}],"info":{"item_index":3,"qtd":0,"job_id":"b6db388da67aea6e3128ef2761f26dba","fingerprint":"7e96ec29b0726713033b4173a3adeed6"}} ;

init(d.info,d.data[0]);

  }
  function init(f,d){
    info = f;
    data = d;
    list_marks = document.getElementById("list_marks");
    timeline = document.getElementById("timeline");
    instructions = document.getElementById("instructions");
    if(window.innerWidth >= 800){
      instructions.style.display = 'block';
    }
    input = data;


  $( function() {
    var start = parseFloat(input.start);
    var end = parseFloat(input.end);
    $( "#slider" ).slider({
      range: true,
      step: 0.01,
      min: start,
      max: end,
      values: [ start+1, end-1 ],
      slide: function( event, ui ) {
      //  $( "#amount" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      }
    });
    //$( "#amount" ).val( $( "#slider-wind" ).slider( "values", 0 ) + " - " + $( "#slider-wind" ).slider( "values", 1 ) );
  } );





    player = new YT.Player(
      'player',
      {
        playerVars: {cc_lang_pref:'en', cc_load_policy: 0, autoplay:0 ,rel: 0, controls: 0, disablekb: 1},
        height: '360',
        width: '640',
  autohide: '1',
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      }
    );
  }
  function onPlayerReady(event) {
    duration = (input.end - input.start) + 0.5;
    player.loadVideoById(input.uri, parseFloat(input.start));
    setInterval(function() {syncTimeline();}, 100);
 }

 function syncTimeline(){
  var progress = 100 * (player.getCurrentTime() - input.start) / (input.end -input.start );
  timeline.style.width =  progress + '%';
   }
 
  function onPlayerStateChange(event) {
    if(player.getCurrentTime() > input.end || player.getCurrentTime() < input.start){
      player.seekTo(parseFloat(input.start));
      player.pauseVideo();
    $("#bt_play_pause").text('Play');  

    }else{
      if (event.data == YT.PlayerState.PLAYING) {
        setTimeout(restartVideoSection, duration * 1000);
      }
    }
  }
  function restartVideoSection() {
    if(player.getCurrentTime() > input.end){
      player.seekTo(parseFloat(input.start));
      player.pauseVideo();
    $("#bt_play_pause").text('Play');  
    }
  }

  function syncRange(){
    var index = list_marks.selectedIndex;
  var range = (list_marks.options[index].value).split(':');
  player.seekTo(range[0]);
  $( "#slider" ).slider( "values", [parseFloat(range[0])-0.1,parseFloat(range[1])] );
  }

  function delRange(){        
        var r = confirm('Are you sure that want remove this range?');
        if(r == true){
                var range = list_marks.selectedIndex;
                list_marks.selectedIndex = range - 1;
                list_marks.remove(range);
      }
  }

  function addRange(){
      var start = parseFloat($( "#slider" ).slider( "values", 0 ))+0.1 ;
      var stop =  parseFloat($( "#slider" ).slider( "values", 1 )) ;
            var Op = document.createElement("OPTION");
            Op.text = start + " - " + stop;
            Op.value = start+":"+stop;
            list_marks.options[list_marks.options.length] = Op;
            list_marks.selectedIndex = list_marks.options.length -1;
    
  }


  function initRange(start,stop){
            var Op = document.createElement("OPTION");
            Op.text = start + " - " + stop;
            Op.value = start+":"+stop;
            list_marks.options[list_marks.options.length] = Op;
            list_marks.selectedIndex = list_marks.options.length -1;
    
  }




  function sendContribution(){

if(list_marks.options.length < 1){
  alert('Please, do the job before finish your contribution.');
  return;
}


var list = list_marks.options;
var marks = new Array();
for(var i=0; i < list.length; i++){
  marks.push(list_marks.options[i].value);
}

var r = confirm('Are you done?');
if(r == true){




        var queryForm = "<form method='post' action='https://crowdnoter.app/store'>";
        queryForm += "<input type='hidden' id='uri' name='uri'  value='"+data.uri+"' > ";
        queryForm += "<input type='hidden' id='item_id' name='item_id'  value='"+data._id+"' > ";
        queryForm += "<input type='hidden' id='start' name='start'  value='"+data.start+"' > ";
        queryForm += "<input type='hidden' id='end' name='end'  value='"+data.end+"' > ";
        queryForm += "<input type='hidden' id='fingerprint' name='fingerprint'  value='"+info.fingerprint+"' > ";
        queryForm += "<input type='hidden' id='job_id' name='job_id'  value='"+info.job_id+"' > ";
        queryForm += "<input type='hidden' id='item_index' name='item_index'  value='"+info.item_index+"' > ";
        queryForm += "<input type='hidden' id='source_id' name='source_id'  value='"+source_id+"' > ";
        queryForm += "<input type='hidden' id='marks' name='marks'  value='"+marks+"' > ";
        queryForm += "";


      $.ajax({
        type: 'POST',
        url: $(queryForm).attr('action'),
        data: $(queryForm).serialize(), 
        success: function(result, status, request) {done();}
      });

}
  }
  function done(){
    var done = document.getElementById("done");
    var bt = document.getElementById("bt");
    bt.style='visibility: hidden;';
    done.value='ok';
    player.stopVideo();
    alert("Thanks, now you can click the FINISH button.");
    //$(location).attr('href', 'https://novaes.tech/thanks');
  }       
</script>





