<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Uma p&aacute;gina para anota&ccedil;&atilde;o de v&iacute;deo.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title></title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://crowdnoter.app/include?name=client.min&amp;mime=js"></script>

<style type="text/css">.modal {
  display: none;
  font-size:30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.75);
}
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  #circle {
    float:left;
    width: 40px;
    height: 40px;
    background: blue;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
  #retangle-space {
    float:left;
    height: 40px;
    width:  1px;
    background: light-grey;
  }
  #retangle-mark {
    float:left;
    height: 40px;
    width:  1px;
    background: orange;
  }
  .ui-draggable, .ui-droppable {
  background-position: top;
}

.ui-widget-header{background-image:none;background-color: orange;}
.ui-widget-content { background: light-grey; }





</style>


<div style="background:#3F51B5;">
  <center>

    <br>
    <p>
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" name='bt' id="bt_prev" onclick="navigate(-1)" style="width: 230px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">Sinal Anterior</a>

    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" name='bt' id="bt_next" onclick="navigate(1)" style="width: 230px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">Próximo Sinal</a>

    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" name='bt' id="bt_play_pause" onclick="playPause()" style="width: 230px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">Reproduzir Sinal</a>
    </p>
    <table>
      <tbody>
        <tr>
          <td style="width: 500px;">
            <p align="center" style="font-size:28px;color:white;">Intérpretes</p>
            <p align="center">
              <select autofocus="" class="mdl-textfield__input" id="list_marks" name="list_marks" onchange="syncMark(1)" style="margin-top:10px;margin-left:0px;background-color:#3368E6;font-size:18px;color:white;" type="select"><option value="0">0</option>
              </select>
            </p>
            <p align="center">
              <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt" onclick="tiltTime(-0.1)" style="width: 20px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">- 0.1s</a> 

              <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt" onclick="tiltTime(0.1)" style="width: 20px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">+ 0.1s</a>
            </p>
              <div id="player" style="box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">?|</div>
              <div class="w3-light-grey"> 
                <div id="timeline" class='w3-red' style="height:30px; box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);"></div>
              </div> 
              <div id="slider"></div>             
          </td>
          <td style="width: 500px;">
            <p align="center" style="font-size:28px;color:white;">Crowd</p>
            <p align="center">
              <select autofocus="" class="mdl-textfield__input" id="list_marks2" name="list_marks2" onchange="syncMark(2)" style="margin-top:10px;margin-left:0px;background-color:#3368E6;font-size:18px;color:white;" type="select"><option value="0">0</option>
              </select>
            </p>
            <p align="center">
              <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt" onclick="tiltTime2(-0.1)" style="width: 20px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">- 0.1s</a> 

              <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="bt" onclick="tiltTime2(0.1)" style="width: 20px;box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">+ 0.1s</a>
            </p>
              <div id="player2" style="box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);">?|</div>
              <div class="w3-light-grey"> 
                <div id="timeline2" class='w3-red' style="height:30px; box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);"></div>
              </div>
              <div id="slider2"></div>
          </td>
        </tr>
      </tbody>
    </table>

  </center>
</div>




<script>
  var index;
  var timeline;
  var timeline2;
  var start_1;
  var end_1;
  var start_2;
  var end_2;
  var source_id = '001';
  var video_width = 640;
  var mark_bar;
  var mark_bar2;
  var marks = new Array();
  var marks2 = new Array();
  var list_marks;
  var list_marks2;
  var info;
  var data;
  var signals;  
  var signals2;
  var player;
  var player2;
  var duration;
  var instructions;
  var presentation;
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";

  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  function tiltTime(delta){
    player.pauseVideo();
    player2.pauseVideo();
    player.seekTo(player.getCurrentTime() + delta);
  }
  function tiltTime2(delta){
    player.pauseVideo();
    player2.pauseVideo();
    player2.seekTo(player2.getCurrentTime() + delta);
  }

  function onYouTubeIframeAPIReady() {

  //Video 01
    var input = {
      "data":{"_id":"5ab10895f847f62ed85e1568","uri":"6PURz91hDlY","item_id":"5a70898694ed6e6180e914fd","convergence":"0","start":"0.5","end":"14"},
      "info":{"item_index":3,"job_id":"61790435c27b9016a87616d3c6c08599","fingerprint":"576c0bee555952903379d5cd85c15a8e"}
    };

  var signals = [ 1.94 ,2.75 ,3.25 ,4.36 ,5.65 ,6.34 ,7.47 ,8.47 ,9.26 ,10.36,11.81];

  var signals2 = [1.96,2.74,3.76,4.73,5.76,6.58,7.53,8.39,9.30,10.40,11.55];






    init(input.info,input.data, signals, signals2);
  }
  function init(reg_info,reg_data,reg_signals,reg_signals2){

    index = 0;

    info = reg_info;
    data = reg_data;
    signals = reg_signals;    
    signals2 = reg_signals2;

    timeline = document.getElementById("timeline");
    timeline2 = document.getElementById("timeline2");

    list_marks = document.getElementById("list_marks");
    list_marks.remove(0);
    mark_bar = document.getElementById("mark_bar");

    list_marks2 = document.getElementById("list_marks2");
    list_marks2.remove(0);
    mark_bar2 = document.getElementById("mark_bar2");

  $( function() {
    var start = parseFloat(data.start);
    var end = parseFloat(data.end);
    $( "#slider" ).slider({
      range: true,
      step: 0.01,
      min: start,
      max: end,
      values: [ parseFloat(data.start) + 1, parseFloat(data.end)-1 ],
      slide: function( event, ui ) {}
    });
    $( "#slider2" ).slider({
      range: true,
      step: 0.01,
      min: start,
      max: end,
      values: [ parseFloat(data.start) + 1, parseFloat(data.end)-1 ],
      slide: function( event, ui ) {}
    });
  } );

    player = new YT.Player(
      'player',
      {
        playerVars: {cc_lang_pref:'en', cc_load_policy: 0, autoplay:0 ,rel: 0, controls: 2, disablekb: 1},
        height: '360',
        width: '640',
        autohide: '0',
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      }
    );
    
    player2 = new YT.Player(
      'player2',
      {
        playerVars: {cc_lang_pref:'en', cc_load_policy: 0, autoplay:0 ,rel: 0, controls: 2, disablekb: 1},
        height: '360',
        width: '640',
        autohide: '0',
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      }
    );


    for(var v=1; v < signals.length; v++){
        initMark(1,signals[v-1],signals[v]);
    }
    list_marks.selectedIndex = 0;

    for(var v=1; v < signals2.length; v++){
        var s1 = signals2[v-1];
        var s2 = signals2[v];

        if(s1 == "Não Identificado pela Crowd"){
          s2 = "";
        }else{
          if(s2 == "Não Identificado pela Crowd"){
            s2 = signals[v];
          }
        }
        initMark(2,s1,s2);
    }
    list_marks2.selectedIndex = 0;

    

  }

  function onPlayerReady(event) {
    start_1 = data.start;
    end_1 = data.end
    start_2 = data.start;
    end_2 = data.end
    duration = (data.end - data.start) ;
    player.loadVideoById(data.uri, parseFloat(data.start)); 
    player2.loadVideoById(data.uri, parseFloat(data.start));    
    setInterval(function() {syncTimeline();}, 100);
    
    
  }

 function syncTimeline(){
  var progress = 100 * (player.getCurrentTime() - data.start) / (data.end - data.start );
  timeline.style.width =  progress + '%';
  progress = 100 * (player2.getCurrentTime() - data.start) / (data.end - data.start );
  timeline2.style.width =  progress + '%';
  if(player.getCurrentTime() > data.end || player.getCurrentTime() < data.start){
        player.pauseVideo();
        player.seekTo(parseFloat($( "#slider" ).slider( "values", 0 )));
  }
  if(player2.getCurrentTime() > data.end || player2.getCurrentTime() < data.start){
        player2.pauseVideo();
        player2.seekTo(parseFloat($( "#slider2" ).slider( "values", 0 )));
  }
  setTimeout(restartVideoSection,  duration * 100);
 }

  function onPlayerStateChange(event) {
    if(player.getCurrentTime() > data.end || player.getCurrentTime() < data.start){
      player.pauseVideo();
      player.seekTo(parseFloat($( "#slider" ).slider( "values", 0 )));
    }
    if(player2.getCurrentTime() > data.end || player2.getCurrentTime() < data.start){
      player2.pauseVideo();
      player2.seekTo(parseFloat($( "#slider2" ).slider( "values", 0 )));
    }
    if (event.data == YT.PlayerState.PLAYING) {
        setTimeout(restartVideoSection,  duration * 50);
    }
  }

  function restartVideoSection() {
    if( (player.getCurrentTime() > parseFloat($( "#slider" ).slider( "values", 1 ))) || (player2.getCurrentTime() > parseFloat($( "#slider2" ).slider( "values", 1 )))  ){
      player2.pauseVideo();
      player.pauseVideo();
      player.seekTo(parseFloat($( "#slider" ).slider( "values", 0 )));
      player2.seekTo(parseFloat($( "#slider2" ).slider( "values", 0 )));
    }
  }

  function initMark(l,start,stop){
    var list;
    var Op = document.createElement("OPTION");
    if(l==1) list = list_marks;
    if(l==2) list = list_marks2;
    stop = parseFloat(stop) - 0.1;
    stop = stop.toFixed(2);
    if(start== "Não Identificado pela Crowd"){
      Op.text = start;
    }else{
      Op.text = start + " - " + stop;
    }
    Op.value = start+":"+ stop;
    list.options[list.options.length] = Op;
    list.selectedIndex = list.options.length -1;
  } 

  function syncMark(l){
    if(l == 0){
      list_marks.selectedIndex = index;
      list_marks2.selectedIndex = index;
    }
    if(l == 2){
      list_marks.selectedIndex = list_marks2.selectedIndex;
      index = list_marks2.selectedIndex;
    }
    var range = (list_marks.value).split(':');
    player.seekTo(range[0]);
    start_1 = range[0];
    end_1 = range[1];
    player.pauseVideo();
    if(l == 1){
      list_marks2.selectedIndex = list_marks.selectedIndex;
      index = list_marks.selectedIndex;
    }
    range = (list_marks2.value).split(':');
    if(range[0] != "Não Identificado pela Crowd"){
      player2.seekTo(range[0]);
      start_2 = range[0];
    }else{
      start_2 = start_1;
    }
    if(range[1] != "Não Identificado pela Crowd"){
      end_2 = range[1];
    }else{
      end_2 = end_1;
    }
    player2.pauseVideo();

    $( "#slider" ).slider( "values", [start_1,end_1] );
    $( "#slider2" ).slider( "values", [start_2,end_2] );

  }  


    function playPause(){
        /*if(player.getPlayerState() == 1){
                player.pauseVideo();
                player2.pauseVideo();

        }else{*/
                player.playVideo();
                player2.playVideo();
        //}
  }


  function navigate(delta){
    if( (index + delta) < 0 ){
      index = 0;
    }else{
      if( (index + delta) > ( list_marks.options.length -1)){
        index = list_marks.options.length -1;
      }else{
        index += delta;
      }
    }
    syncMark(0);
  }


</script>








